In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_csv("/content/drive/MyDrive/AICU/LabAnalysis.csv")
df

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
0,43836,5.3,4.3,1.1,15.2,0.3,9.6,4.9,0.090,21.7,...,7.60,13.5,1.40,2.00,27.8,7.7,5.7,49.0,0.9,0.61
1,43850,5.2,4.0,1.1,11.3,0.3,9.8,4.1,0.090,21.0,...,10.00,23.4,1.30,0.42,21.1,0.8,6.4,56.0,0.7,0.94
2,43864,4.8,3.9,1.3,11.6,0.3,10.2,3.5,0.090,18.6,...,12.00,17.5,1.00,1.30,18.3,1.1,3.7,93.0,0.5,0.47
3,43879,4.8,3.7,1.4,13.3,0.4,8.2,2.8,0.090,16.0,...,20.00,13.2,0.10,6.10,24.4,4.5,3.8,134.0,1.0,0.13
4,43893,4.7,3.5,1.1,11.3,0.4,7.6,2.5,0.010,14.1,...,21.20,11.6,0.10,9.32,31.0,11.0,6.5,113.0,1.1,0.10
5,43908,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.30,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.10
6,43921,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.10,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.10
7,43936,5.7,2.9,1.2,9.3,0.3,6.4,2.7,0.009,16.6,...,0.09,11.3,0.09,5.99,27.0,15.0,8.3,66.0,0.8,0.09
8,43951,6.0,3.6,0.8,13.6,0.3,8.3,3.2,0.010,17.0,...,0.09,9.9,0.09,5.20,35.0,15.0,9.9,68.0,0.8,0.09
9,43963,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.010,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

#A dataframe with the ideal values of the each parameter in irrigation water

In [4]:
data = {'Parameters': ['pH', 'Electrical conductivity', 'Ammonium', 'Potassium','Calcium','Magnesium','Silicon','Nitrate','Chlorine','Sulfate','Bicarbonate Ion','Manganese','Zinc','Boron','Copper','Molybdenum'],
        'Minimum ideal values of the Parameters': ["5.2-6", "1-4", "0-1", "0-21","0-1","0-3.2","0-0.04","0-2.0","0.2-0.3","0-1.4","0.6-1.0","0-2.2","0-5","0-28","0-0.8",0],
        'Units':["-","dS/m","mmol/l","mmol/l","mmol/l","mmol/l","mmol/l","mmol/l","mmol/l","mmol/l","mmol/l","µmol/l","µmol/l","µmol/l","µmol/l","µmol/l"]}

In [5]:
ideal = pd.DataFrame(data)
ideal

                 Parameters Minimum ideal values of the Parameters   Units
0                        pH                                  5.2-6       -
1   Electrical conductivity                                    1-4    dS/m
2                  Ammonium                                    0-1  mmol/l
3                 Potassium                                   0-21  mmol/l
4                   Calcium                                    0-1  mmol/l
5                 Magnesium                                  0-3.2  mmol/l
6                   Silicon                                 0-0.04  mmol/l
7                   Nitrate                                  0-2.0  mmol/l
8                  Chlorine                                0.2-0.3  mmol/l
9                   Sulfate                                  0-1.4  mmol/l
10          Bicarbonate Ion                                0.6-1.0  mmol/l
11                Manganese                                  0-2.2  µmol/l
12                     Zinc                                    0-5  µmol/l
13                    Boron                                   0-28  µmol/l
14                   Copper                                  0-0.8  µmol/l
15               Molybdenum                                      0  µmol/l

In [6]:
import datetime as dt
df['%Time'] = pd.TimedeltaIndex(df['%Time'], unit='d') + dt.datetime(1899, 12, 30)

In [7]:
df

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
0,2020-01-06,5.3,4.3,1.1,15.2,0.3,9.6,4.9,0.090,21.7,...,7.60,13.5,1.40,2.00,27.8,7.7,5.7,49.0,0.9,0.61
1,2020-01-20,5.2,4.0,1.1,11.3,0.3,9.8,4.1,0.090,21.0,...,10.00,23.4,1.30,0.42,21.1,0.8,6.4,56.0,0.7,0.94
2,2020-02-03,4.8,3.9,1.3,11.6,0.3,10.2,3.5,0.090,18.6,...,12.00,17.5,1.00,1.30,18.3,1.1,3.7,93.0,0.5,0.47
3,2020-02-18,4.8,3.7,1.4,13.3,0.4,8.2,2.8,0.090,16.0,...,20.00,13.2,0.10,6.10,24.4,4.5,3.8,134.0,1.0,0.13
4,2020-03-03,4.7,3.5,1.1,11.3,0.4,7.6,2.5,0.010,14.1,...,21.20,11.6,0.10,9.32,31.0,11.0,6.5,113.0,1.1,0.10
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.30,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.10
6,2020-03-31,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.10,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.10
7,2020-04-15,5.7,2.9,1.2,9.3,0.3,6.4,2.7,0.009,16.6,...,0.09,11.3,0.09,5.99,27.0,15.0,8.3,66.0,0.8,0.09
8,2020-04-30,6.0,3.6,0.8,13.6,0.3,8.3,3.2,0.010,17.0,...,0.09,9.9,0.09,5.20,35.0,15.0,9.9,68.0,0.8,0.09
9,2020-05-12,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.010,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

## PH level of water

The ideal ph level for irrigatation water in greenhouse is between 5.2 to 6.0.So filtering out the values that do not fall in this range.

In [8]:
df[(df['irr_PH'] <= 6.0) & (df['irr_PH'] >= 5.2)]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
0,2020-01-06,5.3,4.3,1.1,15.2,0.3,9.6,4.9,0.090,21.7,...,7.60,13.5,1.40,2.00,27.8,7.7,5.7,49.0,0.9,0.61
1,2020-01-20,5.2,4.0,1.1,11.3,0.3,9.8,4.1,0.090,21.0,...,10.00,23.4,1.30,0.42,21.1,0.8,6.4,56.0,0.7,0.94
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.30,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.10
6,2020-03-31,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.10,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.10
7,2020-04-15,5.7,2.9,1.2,9.3,0.3,6.4,2.7,0.009,16.6,...,0.09,11.3,0.09,5.99,27.0,15.0,8.3,66.0,0.8,0.09
8,2020-04-30,6.0,3.6,0.8,13.6,0.3,8.3,3.2,0.010,17.0,...,0.09,9.9,0.09,5.20,35.0,15.0,9.9,68.0,0.8,0.09
9,2020-05-12,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.010,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

From here we get the insight that during the month of February the ph level of the water was below 5.2 which may have affected the quality of the crops

# Electric Conductivity

The electric conductivity of the water for irrigation should be between 1-4 dS/m

In [9]:
df[(df['irr_EC'] < 4.0) & (df['irr_EC'] >= 1.0)]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
2,2020-02-03,4.8,3.9,1.3,11.6,0.3,10.2,3.5,0.090,18.6,...,12.00,17.5,1.00,1.30,18.3,1.1,3.7,93.0,0.5,0.47
3,2020-02-18,4.8,3.7,1.4,13.3,0.4,8.2,2.8,0.090,16.0,...,20.00,13.2,0.10,6.10,24.4,4.5,3.8,134.0,1.0,0.13
4,2020-03-03,4.7,3.5,1.1,11.3,0.4,7.6,2.5,0.010,14.1,...,21.20,11.6,0.10,9.32,31.0,11.0,6.5,113.0,1.1,0.10
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.30,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.10
6,2020-03-31,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.10,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.10
7,2020-04-15,5.7,2.9,1.2,9.3,0.3,6.4,2.7,0.009,16.6,...,0.09,11.3,0.09,5.99,27.0,15.0,8.3,66.0,0.8,0.09
8,2020-04-30,6.0,3.6,0.8,13.6,0.3,8.3,3.2,0.010,17.0,...,0.09,9.9,0.09,5.20,35.0,15.0,9.9,68.0,0.8,0.09
9,2020-05-12,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.010,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

From this data we can conclude that in the month of January the EC of water was high which can make the plants toxic

# Ammonium concentration in irrigation water

The ideal concentration should be between 0-1 mmol/l

In [10]:
df[(df['irr_NH4'] < 1.0) & (df['irr_NH4'] >= 0.0)]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
8,2020-04-30,6.0,3.6,0.8,13.6,0.3,8.3,3.2,0.01,17.0,...,0.09,9.9,0.09,5.20,35.0,15.0,9.9,68.0,0.8,0.09
9,2020-05-12,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.01,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

The more that ammonium the more it damages the roots of the plants.

# Potassium concentration in irrigation water

In [11]:
df[(df['irr_K'] <=21.0 )]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
0,2020-01-06,5.3,4.3,1.1,15.2,0.3,9.6,4.9,0.090,21.7,...,7.60,13.5,1.40,2.00,27.8,7.7,5.7,49.0,0.9,0.61
1,2020-01-20,5.2,4.0,1.1,11.3,0.3,9.8,4.1,0.090,21.0,...,10.00,23.4,1.30,0.42,21.1,0.8,6.4,56.0,0.7,0.94
2,2020-02-03,4.8,3.9,1.3,11.6,0.3,10.2,3.5,0.090,18.6,...,12.00,17.5,1.00,1.30,18.3,1.1,3.7,93.0,0.5,0.47
3,2020-02-18,4.8,3.7,1.4,13.3,0.4,8.2,2.8,0.090,16.0,...,20.00,13.2,0.10,6.10,24.4,4.5,3.8,134.0,1.0,0.13
4,2020-03-03,4.7,3.5,1.1,11.3,0.4,7.6,2.5,0.010,14.1,...,21.20,11.6,0.10,9.32,31.0,11.0,6.5,113.0,1.1,0.10
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.30,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.10
6,2020-03-31,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.10,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.10
7,2020-04-15,5.7,2.9,1.2,9.3,0.3,6.4,2.7,0.009,16.6,...,0.09,11.3,0.09,5.99,27.0,15.0,8.3,66.0,0.8,0.09
8,2020-04-30,6.0,3.6,0.8,13.6,0.3,8.3,3.2,0.010,17.0,...,0.09,9.9,0.09,5.20,35.0,15.0,9.9,68.0,0.8,0.09
9,2020-05-12,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.010,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

All the rows have the ideal concentration of potassium which is a good thing

#Calcium concentration in irrigation water

In [12]:
df[(df['irr_Ca'] < 1.0) & (df['irr_Ca'] >= 0.0)]

Empty DataFrame
Columns: [%Time, irr_PH, irr_EC, irr_NH4, irr_K, irr_Na, irr_Ca, irr_Mg, irr_Si, irr_NO3, irr_Cl, irr_SO4, irr_HCO3, irr_PO4, irr_Fe, irr_Mn, irr_Zn, irr_B, irr_Cu, irr_Mo, drain_PH, drain_EC, drain_NH4, drain_K, drain_Na, drain_Ca, drain_Mg, drain_Si, drain_NO3, drain_Cl, drain_SO4, drain_HCO3, drain_PO4, drain_Fe, drain_Mn, drain_Zn, drain_B, drain_Cu, drain_Mo]
Index: []

[0 rows x 39 columns]

As we can see there is no month with has the ideal concentration of calcium

# Magnesium concentration in irrigation water

In [13]:
df[(df['irr_Mg'] < 3.2)]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
3,2020-02-18,4.8,3.7,1.4,13.3,0.4,8.2,2.8,0.090,16.0,...,20.00,13.2,0.10,6.10,24.4,4.5,3.8,134.0,1.0,0.13
4,2020-03-03,4.7,3.5,1.1,11.3,0.4,7.6,2.5,0.010,14.1,...,21.20,11.6,0.10,9.32,31.0,11.0,6.5,113.0,1.1,0.10
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.30,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.10
6,2020-03-31,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.10,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.10
7,2020-04-15,5.7,2.9,1.2,9.3,0.3,6.4,2.7,0.009,16.6,...,0.09,11.3,0.09,5.99,27.0,15.0,8.3,66.0,0.8,0.09
9,2020-05-12,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.010,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

Except Jan and first 2 weeks of Feb all months have the ideal concentration of magnesium in water.If it is too low that means below 0 mmol/l or above 3.2 it can cause foliar spotting and clogging of the equipment as well as it is hazardous to some plants.

# Silicon concentration in irrigation water

In [14]:
df[(df['irr_Si'] <= 0.04)]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
4,2020-03-03,4.7,3.5,1.1,11.3,0.4,7.6,2.5,0.010,14.1,...,21.20,11.6,0.10,9.32,31.0,11.0,6.5,113.0,1.1,0.10
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.30,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.10
6,2020-03-31,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.10,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.10
7,2020-04-15,5.7,2.9,1.2,9.3,0.3,6.4,2.7,0.009,16.6,...,0.09,11.3,0.09,5.99,27.0,15.0,8.3,66.0,0.8,0.09
8,2020-04-30,6.0,3.6,0.8,13.6,0.3,8.3,3.2,0.010,17.0,...,0.09,9.9,0.09,5.20,35.0,15.0,9.9,68.0,0.8,0.09
9,2020-05-12,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.010,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

We can conclude that the moths which have the ideal silicon concentrarion are March,April And May

# Nitrate concentration in irrigation water

In [15]:
df[(df['irr_NO3'] <= 2.0)]

Empty DataFrame
Columns: [%Time, irr_PH, irr_EC, irr_NH4, irr_K, irr_Na, irr_Ca, irr_Mg, irr_Si, irr_NO3, irr_Cl, irr_SO4, irr_HCO3, irr_PO4, irr_Fe, irr_Mn, irr_Zn, irr_B, irr_Cu, irr_Mo, drain_PH, drain_EC, drain_NH4, drain_K, drain_Na, drain_Ca, drain_Mg, drain_Si, drain_NO3, drain_Cl, drain_SO4, drain_HCO3, drain_PO4, drain_Fe, drain_Mn, drain_Zn, drain_B, drain_Cu, drain_Mo]
Index: []

[0 rows x 39 columns]

No month has the ideal concentration of nitrate

#Chlorine concentration in irrigation water

In [16]:
df[(df['irr_Cl'] < 0.3) & (df['irr_Cl'] >= 0.2)]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.3,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.1

Only in march the irrigation water had the ideal concentration of chlorine that is 0.2-0.3mmol/l

#Sulfate concentration in irrigation water

In [17]:
df[(df['irr_SO4'] <= 1.4)]

Empty DataFrame
Columns: [%Time, irr_PH, irr_EC, irr_NH4, irr_K, irr_Na, irr_Ca, irr_Mg, irr_Si, irr_NO3, irr_Cl, irr_SO4, irr_HCO3, irr_PO4, irr_Fe, irr_Mn, irr_Zn, irr_B, irr_Cu, irr_Mo, drain_PH, drain_EC, drain_NH4, drain_K, drain_Na, drain_Ca, drain_Mg, drain_Si, drain_NO3, drain_Cl, drain_SO4, drain_HCO3, drain_PO4, drain_Fe, drain_Mn, drain_Zn, drain_B, drain_Cu, drain_Mo]
Index: []

[0 rows x 39 columns]

In [18]:
df["irr_SO4"]

0    8.7
1    6.1
2    4.4
3    4.0
4    3.5
5    4.8
6    4.1
7    3.7
8    5.7
9    3.7
Name: irr_SO4, dtype: float64

As the sulphate concentration is high this can affect the growth of the crops

#Bicarbonate Ion concentration in irrigation water

In [19]:
df[(df['irr_HCO3'] < 1.0) & (df['irr_HCO3'] >= 0.6)]

Empty DataFrame
Columns: [%Time, irr_PH, irr_EC, irr_NH4, irr_K, irr_Na, irr_Ca, irr_Mg, irr_Si, irr_NO3, irr_Cl, irr_SO4, irr_HCO3, irr_PO4, irr_Fe, irr_Mn, irr_Zn, irr_B, irr_Cu, irr_Mo, drain_PH, drain_EC, drain_NH4, drain_K, drain_Na, drain_Ca, drain_Mg, drain_Si, drain_NO3, drain_Cl, drain_SO4, drain_HCO3, drain_PO4, drain_Fe, drain_Mn, drain_Zn, drain_B, drain_Cu, drain_Mo]
Index: []

[0 rows x 39 columns]

#Manganese concentration in irrigation water

In [20]:
df[(df['irr_Mn'] < 2.2)]

Empty DataFrame
Columns: [%Time, irr_PH, irr_EC, irr_NH4, irr_K, irr_Na, irr_Ca, irr_Mg, irr_Si, irr_NO3, irr_Cl, irr_SO4, irr_HCO3, irr_PO4, irr_Fe, irr_Mn, irr_Zn, irr_B, irr_Cu, irr_Mo, drain_PH, drain_EC, drain_NH4, drain_K, drain_Na, drain_Ca, drain_Mg, drain_Si, drain_NO3, drain_Cl, drain_SO4, drain_HCO3, drain_PO4, drain_Fe, drain_Mn, drain_Zn, drain_B, drain_Cu, drain_Mo]
Index: []

[0 rows x 39 columns]

As the manganese is high in water the may result in clogging of the equipment that is used for irrigation

#Zinc concentration in irrigation water

In [21]:
df[(df['irr_Zn'] <= 5)]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
0,2020-01-06,5.3,4.3,1.1,15.2,0.3,9.6,4.9,0.090,21.7,...,7.60,13.5,1.40,2.00,27.8,7.7,5.7,49.0,0.9,0.61
1,2020-01-20,5.2,4.0,1.1,11.3,0.3,9.8,4.1,0.090,21.0,...,10.00,23.4,1.30,0.42,21.1,0.8,6.4,56.0,0.7,0.94
2,2020-02-03,4.8,3.9,1.3,11.6,0.3,10.2,3.5,0.090,18.6,...,12.00,17.5,1.00,1.30,18.3,1.1,3.7,93.0,0.5,0.47
3,2020-02-18,4.8,3.7,1.4,13.3,0.4,8.2,2.8,0.090,16.0,...,20.00,13.2,0.10,6.10,24.4,4.5,3.8,134.0,1.0,0.13
4,2020-03-03,4.7,3.5,1.1,11.3,0.4,7.6,2.5,0.010,14.1,...,21.20,11.6,0.10,9.32,31.0,11.0,6.5,113.0,1.1,0.10
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.30,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.10
6,2020-03-31,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.10,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.10
7,2020-04-15,5.7,2.9,1.2,9.3,0.3,6.4,2.7,0.009,16.6,...,0.09,11.3,0.09,5.99,27.0,15.0,8.3,66.0,0.8,0.09
9,2020-05-12,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.010,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

This is better all months except the last week of april have the ideal concentration of zinc

#Boron concentration in irrigation water

In [22]:
df[(df['irr_B'] < 28.0)]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.3,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.1
6,2020-03-31,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.1,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.1

Only march has the ideal concentration of boron in water

#Copper concentration in irrigation water

In [23]:
df[(df['irr_Cu'] <= 0.8)]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
0,2020-01-06,5.3,4.3,1.1,15.2,0.3,9.6,4.9,0.090,21.7,...,7.60,13.5,1.40,2.00,27.8,7.7,5.7,49.0,0.9,0.61
1,2020-01-20,5.2,4.0,1.1,11.3,0.3,9.8,4.1,0.090,21.0,...,10.00,23.4,1.30,0.42,21.1,0.8,6.4,56.0,0.7,0.94
2,2020-02-03,4.8,3.9,1.3,11.6,0.3,10.2,3.5,0.090,18.6,...,12.00,17.5,1.00,1.30,18.3,1.1,3.7,93.0,0.5,0.47
3,2020-02-18,4.8,3.7,1.4,13.3,0.4,8.2,2.8,0.090,16.0,...,20.00,13.2,0.10,6.10,24.4,4.5,3.8,134.0,1.0,0.13
4,2020-03-03,4.7,3.5,1.1,11.3,0.4,7.6,2.5,0.010,14.1,...,21.20,11.6,0.10,9.32,31.0,11.0,6.5,113.0,1.1,0.10
5,2020-03-18,5.4,3.4,1.3,13.4,0.3,6.5,1.9,0.009,17.1,...,4.30,12.3,0.09,6.41,35.0,9.8,8.2,60.0,1.1,0.10
6,2020-03-31,5.6,3.1,1.2,11.0,0.2,5.6,2.0,0.009,16.9,...,0.10,11.0,0.09,5.60,30.0,13.0,9.5,37.0,1.1,0.10
7,2020-04-15,5.7,2.9,1.2,9.3,0.3,6.4,2.7,0.009,16.6,...,0.09,11.3,0.09,5.99,27.0,15.0,8.3,66.0,0.8,0.09
9,2020-05-12,5.7,3.0,0.8,9.1,0.2,6.2,2.1,0.010,15.7,...,0.20,12.3,0.09,5.99,53.0,27.0,13.0,86.0,1.0,0.09

In [24]:
df[df["irr_Cu"]>0.8]

,%Time,irr_PH,irr_EC,irr_NH4,irr_K,irr_Na,irr_Ca,irr_Mg,irr_Si,irr_NO3,...,drain_Cl,drain_SO4,drain_HCO3,drain_PO4,drain_Fe,drain_Mn,drain_Zn,drain_B,drain_Cu,drain_Mo
8,2020-04-30,6.0,3.6,0.8,13.6,0.3,8.3,3.2,0.01,17.0,...,0.09,9.9,0.09,5.2,35.0,15.0,9.9,68.0,0.8,0.09

Only the last week of april has high copper conc which can lead to root toxicity

#Molybdenum concentration in irrigation water

In [25]:
df[df["irr_Mo"]==0]

Empty DataFrame
Columns: [%Time, irr_PH, irr_EC, irr_NH4, irr_K, irr_Na, irr_Ca, irr_Mg, irr_Si, irr_NO3, irr_Cl, irr_SO4, irr_HCO3, irr_PO4, irr_Fe, irr_Mn, irr_Zn, irr_B, irr_Cu, irr_Mo, drain_PH, drain_EC, drain_NH4, drain_K, drain_Na, drain_Ca, drain_Mg, drain_Si, drain_NO3, drain_Cl, drain_SO4, drain_HCO3, drain_PO4, drain_Fe, drain_Mn, drain_Zn, drain_B, drain_Cu, drain_Mo]
Index: []

[0 rows x 39 columns]

The Mo conc should have been exact 0 but it is between 0-1 for all the months

#Conclusion

In [26]:
observations = pd.read_excel("/content/drive/MyDrive/AICU/conclusion.xlsx")

In [27]:
observations

   Parameters                                Best Months
0          Ph                       jan,march,april,may
1          Ec                        feb,march,april,may
2         NH4                      April last biweek,may
3           K                                 all months
4          Ca                                       none
5          Mg  Last week of feb,march,1week of april,may
6          Si                            March,April,May
7         NO3                                       none
8          Cl                       2 week of march only
9         SO4                                       none
10       HCO3                                       none
11         Mg                                       none
12         Zn   all months except the last week of april
13          B                                      March
14         Cu                         Last week of april
15         Mo                                       none

April and march are the only 2 months which supports most of the ideal values for the parameters in irrigation water